/* Smartphones */

// Stack Grid Columns
@media(max-width: 600px) {
  #home-a .options,
  #contact-c .contact-info {
    grid-template-columns: 1fr;
  }
}

// Stack in twos for Tablets
@media(min-width: 601px) and (max-width: 1050px) {
  #home-a .options {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  // Navbar
  #navbar {

    ul {

      li {
        text-align: center;

        a {
          display: inline-block;
          font-size: 0.8rem;

          .on-mobile {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  // Navbar
  #navbar {
    flex-direction: column;
    align-items: center;

    .logo {
      margin-bottom: 0.5rem;
      text-align: center;
    }

    ul {
      padding: 0.5rem;
    }
  }
  
  // Home
  #home {
    &-a {
      .options div {
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;

        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  // About
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          'image'
          'bio-1'
          'bio-2';
      }
    }
  }

  // Contact
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          'name'
          'subject'
          'email'
          'phone'
          'message';
      }
    }
  }

  // Footer
  #footer {
    height: 8rem;

    .footer-content {
      flex-direction: column;
      padding: 2rem;
      height: 8rem;
    }
  }
}

@media (max-width: 600px) {
  // Showcase
  #showcase {
    .showcase-container {
      grid-template-columns: 1fr;
      height: 30rem;

      .showcase-content {
        
        h1 {
          font-size: 2rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }

  #contact {
    &-b {
      h2 {
        font-size: 2rem;
      }
    }

    &-c {
      .contact-info div {
        margin-bottom: 2rem;
        padding-bottom: 2rem;

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

// Stack for Technologies
@media (max-width: 900px) {
  #technology-b .technologies {
    grid-template-columns: 1fr;
  }
}

// Tablets
@media (max-width: 1050px) {
  #home {
    &-a {
      .options div {
        padding-bottom: 2rem;
        margin-bottom: 2rem;

        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}



// Landscape
@media(orientation: landscape) {
  #showcase {

    .showcase-container {
      height: 30rem;

      .showcase-content {

        h1 {
          font-size: 2rem;
          margin-bottom: 0.3rem;
        }

        p {
          font-size: 1rem;
          margin-bottom: .5rem;
        }
      }
    }
  }
}