.container {
  max-width: $website-width;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #000;
    background-color: $light-color;
  }
}