@import 'config';
@import 'utilities';
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

// General Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

h2, h3, h4 {
  text-transform: uppercase;
}

// Navbar
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #fff;
  justify-content: space-between;
  z-index: 2;
  padding: 1rem;

  ul {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      a {
        color: #000;
        padding: 0.75rem;
        margin: 0 0.25rem;
        text-decoration: none;

        &:hover {
          background: $main-color;
          color: #fff;
          border-radius: 0.5rem;
        }

        .on-mobile {
          display: none;
        }
      }
    }
  }
}

// Showcase
#showcase {
  color: #fff;
  background: $main-color;
  padding: 2rem;
  position: relative;

  &:before {
    content: '';
    background: url('../img/waterford.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh;

    .showcase-content {
      z-index: 1;

      h1 {
        font-size: 3rem;
        margin-bottom: 0.6rem;
      }

      p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}

// Home Sections
#home {
  // Home Section A
  &-a {
    .options {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      div {

        .fas {
          color: $main-color;
          padding-bottom: 0.6rem;
        }

        .btn-main {
          margin-top: 0.8rem;
          bottom: 0;
        }
      }
    }
  }
}

// Footer
#footer {
  background: $main-color;
  color: #fff;
  height: 6rem;
  margin-top: 2rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;

    .social a .fab {
      margin-right: 1.5rem;
      padding: 0.5rem;
      font-size: 2rem;
      color: #fff;

      &:hover {
        color: darken(#fff, 20%);
      }
    }
  }
}

@import 'mobile';